@use "./leyout/_header.scss";
@use "./leyout/_main.scss";
@use "./leyout/_footer.scss";
@use "./resest/_reset.scss";
@use "./responsive/responsive" as *;
*, *::before, *::after{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
:target{
  scroll-margin: 60px;
}

body{
  background-color: black;
  color: #fff;
}

a{
  text-decoration: none;
}

.pc_only {
  display: block;
  @include responsive(md){
   display: none;
  }
}